* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#linkset {
    display: flex;
    justify-content: space-evenly;
    
  }

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article:focus {
    outline: none;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    padding: 8px 16px;
    border-radius: 100px;
    border: 2px solid black;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    top: 24px;
    left: calc(50vw - 8px);
    margin: 16px;
}

.empty {
    color: #9b9999;
    font-weight: 400;
}
